<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/nature_one.jpg" class="d-block w-100" alt="Nature">
      </div>
      <div class="carousel-item">
        <img src="assets/nature_two.jpg" class="d-block w-100" alt="Nature">
      </div>
      <div class="carousel-item">
        <img src="assets/nature_three.jpg" class="d-block w-100" alt="Nature">
      </div>
      <div class="carousel-item">
        <img src="assets/nature_four.jpg" class="d-block w-100" alt="Nature">
      </div>
    </div>
  </div>
